.row {
    display: flex;
}
.col{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: rgb(94, 158, 160);
}

.col-2 {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: rgb(94, 158, 160);
}
.col-3 {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: rgb(94, 158, 160);
}