body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content:space-around;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-title {
    margin-left: 20px;
}

.btn {
    height: 35px;
    width: 130px;
    background-color: rgb(23, 162, 184);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px rgb(0, 0, 0);
}